## Import Statements

These include our .py files for calling the APIs, cleaning, and aggregating the data

In [1]:
from CallAPIs import *
from Clean_Orig_Data import *
from Create_Aggregate_Datasets import *

from scipy import stats

Response Status Code = 200
Response Status Code = 200
Response Status Code = 200
Response Status Code = 200

/Users/darian/DC-Crashes/Clean_Orig_Data.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crashes_df.TRAFFIC_CAM[index] = 0
/Users/darian/DC-Crashes/Clean_Orig_Data.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crashes_df.TRAFFIC_CAM[index] = 1
/Users/darian/DC-Crashes/Create_Aggregate_Datasets.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  streets_df.TRAFFIC_CAM[index] += 1
/Users/darian/DC-Crashes/Create_Aggregate_Datasets.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  streets_df[request_type][ind3] += 1

## Hypothesis #1

What is the probability of getting into an accident in each ward?

H0: the probability of getting into an accident in each ward (1-8) is equal

Ha: the probability of getting into an accident in each of the wards (1-8) is different

### Some Data Manipulating

In [2]:
pd.options.display.max_columns = None
ward_accidents_df = crashes_df.groupby(["WARD"]).agg('count')

ward_accidents_df = ward_accidents_df.rename(columns={"OBJECTID": "incidents"})
ward_accidents_df = ward_accidents_df.drop(columns=['CRIMEID', 'CCN', 'REPORTDATE', 'ROUTEID', 'MEASURE', 'OFFSET', 'ROADWAYSEGID', 'FROMDATE', 'TODATE', 'MARID', 'ADDRESS', 'LATITUDE', 'LONGITUDE', 'XCOORD', 'YCOORD', 'EVENTID', 'MAR_ADDRESS', 'MAR_SCORE'])

ward_accidents = ward_accidents_df[['incidents']].copy()

In [3]:
ward_accidents = ward_accidents.drop(['Null'])
ward_accidents

        incidents
WARD
Ward 1         87
Ward 2        193
Ward 3         51
Ward 4         94
Ward 5        204
Ward 6        136
Ward 7        124
Ward 8        104

### Calculate the Chi-Square Statistic

In [4]:
chi_o = stats.chisquare(f_obs = ward_accidents.incidents, ddof =1)

chi_c = stats.chi2.isf(q=0.05, df=7)

print(f"Chi Observed: {chi_o[0]}, Chi Critical for Alpha = 0.05: {chi_c}")

Chi Observed: 155.51158106747232, Chi Critical for Alpha = 0.05: 14.067140449340167

#### The Chi Observed > Chi Critical, which means there is a significant difference in the number of accidents between wards.

In [5]:
# effect size? 
# average vs each ward - is X ward higher than the average?

## Hypothesis #3

Does the probability of getting injured in an accident change depending on ward?

H0: the probability of getting injured from an accident in any given ward is the same

Ha: the probability of getting injured in an accident is higher in one or more wards

In [6]:
ward_count = crashes_df.groupby(['WARD']).agg('count')

ward_count = ward_count[['OBJECTID']].copy()
ward_count = ward_count.drop(['Null'])

In [7]:
injuries = crashes_df.groupby(['WARD']).agg('sum')
injuries.head()

,OBJECTID,CRIMEID,MEASURE,OFFSET,STREETSEGID,ROADWAYSEGID,MARID,LATITUDE,LONGITUDE,XCOORD,YCOORD,MAR_SCORE,MAJORINJURIES_BICYCLIST,MINORINJURIES_BICYCLIST,UNKNOWNINJURIES_BICYCLIST,FATAL_BICYCLIST,MAJORINJURIES_DRIVER,MINORINJURIES_DRIVER,UNKNOWNINJURIES_DRIVER,FATAL_DRIVER,MAJORINJURIES_PEDESTRIAN,MINORINJURIES_PEDESTRIAN,UNKNOWNINJURIES_PEDESTRIAN,FATAL_PEDESTRIAN,TOTAL_VEHICLES,TOTAL_BICYCLES,TOTAL_PEDESTRIANS,PEDESTRIANSIMPAIRED,BICYCLISTSIMPAIRED,DRIVERSIMPAIRED,TOTAL_TAXIS,TOTAL_GOVERNMENT,SPEEDING_INVOLVED,OFFINTERSECTION,MPDLATITUDE,MPDLONGITUDE,MPDGEOX,MPDGEOY,FATALPASSENGER,MAJORINJURIESPASSENGER,MINORINJURIESPASSENGER,UNKNOWNINJURIESPASSENGER
WARD,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Null,853554728,179076070,5423.76,0.08,29387.0,36733.0,6246379,272.466327,-539.051978,2.795496e+06,9.768020e+05,675.000000,0,0,0,0,0,3,0,0,0,0,0,0,15,1,0,0,0,0,0,0,0,0.03,-36.000000,-36.000000,0.00,0.00,0.0,0.0,0.0,0.0
Ward 1,10602169812,2345920669,161097.92,937.73,330370.0,1219419.0,26631596,3386.384239,-6701.645898,3.457048e+07,1.214221e+07,15487.500000,3,3,0,0,1,24,15,0,2,7,1,0,172,4,10,1,0,4,8,9,1,1681.13,2667.723573,-5333.065548,23842201.04,8372804.05,0.0,0.0,0.0,0.0
Ward 2,23520452906,5199468601,221765.53,2005.59,820746.0,2684335.0,61283837,7508.169244,-14868.507553,7.654883e+07,2.647501e+07,33721.889999,1,1,1,0,4,44,38,1,2,4,1,0,383,2,7,1,0,2,34,16,1,4185.92,5781.356679,-11609.741476,49188183.72,17012473.95,0.0,0.0,3.0,0.0
Ward 3,6216656391,1352815845,108324.15,451.85,198447.0,896017.0,16750688,1985.849062,-3930.737456,2.007597e+07,7.198717e+06,7929.970001,1,0,1,0,4,18,6,0,0,1,0,0,99,1,1,0,0,0,7,5,0,1652.77,1120.305419,-2244.193928,8654115.37,3114225.72,0.0,0.0,0.0,0.0
Ward 4,11457805438,2517023038,288661.88,1049.58,326890.0,1117154.0,30088896,3662.213772,-7240.322712,3.739864e+07,1.349227e+07,15916.000000,0,0,2,0,7,33,17,0,0,2,0,0,195,0,3,0,0,2,4,6,3,1554.59,2526.339641,-5128.527414,19105068.21,6891517.89,0.0,0.0,0.0,1.0

In [8]:
injuries['bike_total_injuries'] = injuries['MAJORINJURIES_BICYCLIST'] + injuries['MINORINJURIES_BICYCLIST'] + injuries['UNKNOWNINJURIES_BICYCLIST']
                                           
injuries['driver_total_injuries'] = injuries['MAJORINJURIES_DRIVER'] + injuries['MINORINJURIES_DRIVER'] + injuries['UNKNOWNINJURIES_DRIVER']

injuries['pedestrian_total_injuries'] = injuries['MAJORINJURIES_PEDESTRIAN'] + injuries['MINORINJURIES_PEDESTRIAN'] + injuries['UNKNOWNINJURIES_PEDESTRIAN']

injuries = injuries[['pedestrian_total_injuries','bike_total_injuries','driver_total_injuries']]

In [9]:
accidents_and_injuries = pd.concat([ward_count, injuries], axis=1)
accidents_and_injuries = accidents_and_injuries.drop(['Null'])
accidents_and_injuries = accidents_and_injuries.rename(columns={"OBJECTID": "incidents"})
accidents_and_injuries

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,incidents,pedestrian_total_injuries,bike_total_injuries,driver_total_injuries
Ward 1,87.0,10,6,40
Ward 2,193.0,7,3,86
Ward 3,51.0,1,2,28
Ward 4,94.0,2,2,57
Ward 5,204.0,5,3,111
Ward 6,136.0,4,2,82
Ward 7,124.0,3,4,90
Ward 8,104.0,4,1,51

In [10]:
accidents_and_injuries['total_injuries'] = accidents_and_injuries['pedestrian_total_injuries'] + accidents_and_injuries['bike_total_injuries'] + accidents_and_injuries['driver_total_injuries']
accidents_and_injuries = accidents_and_injuries.drop(['pedestrian_total_injuries','bike_total_injuries','driver_total_injuries'], axis=1)

accidents_and_injuries

        incidents  total_injuries
Ward 1       87.0              56
Ward 2      193.0              96
Ward 3       51.0              31
Ward 4       94.0              61
Ward 5      204.0             119
Ward 6      136.0              88
Ward 7      124.0              97
Ward 8      104.0              56